@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.destination-scroller::-webkit-scrollbar {
  width: 6px;
}
.destination-scroller::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.bg-contact-us {
  background-image: url("./assets/iamges/contact.avif"),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-blend-mode: overlay;
}
.bg-about-us {
  background-image: url("./assets/iamges/property.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-blend-mode: overlay;
}
p {
  overflow-wrap: anywhere;
}
