@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}

p {
  overflow-wrap: anywhere;
}
span {
  overflow-wrap: anywhere;
}
.zoom {
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
  }
}
/* home page */
.home-navlink.active {
  color: #ffc227;
}
/* google maps */
.gm-style-iw {
  max-width: 400px !important;
}
.bg-home {
  background-image: url("/images/bgHome.png"),
    linear-gradient(rgb(28, 72, 134), rgba(153, 153, 153, 0));
  background-blend-mode: overlay;
}
/* hosting page */
.hosting-layout {
  min-height: calc(100vh - 234px);
}
/* update property bg */
.bg-update-property {
  background-image: url("/images/bgHome.png"),
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background-blend-mode: overlay;
}
/* gallery page */
.PhotoView__PhotoBox {
  width: 70% !important;
  height: 80vh !important;
  transform: none !important;
  margin: auto !important;
}
@media (max-width: 768px) {
  .PhotoView__PhotoBox {
    width: 100% !important;
    height: 50vh !important;
  }
}
.PhotoView__PhotoBox img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  transform: none !important;
}
/* destetation dropdown */
.destination-scroller::-webkit-scrollbar {
  width: 6px;
}
.destination-scroller::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
/* contact us page */
.bg-contact-us {
  background-image: url("/images/contact.avif"),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-blend-mode: overlay;
}
/* about us page */
.bg-about-us {
  background-image: url("/images/property.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-blend-mode: overlay;
}
/* carsoul  */
.custom-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  gap: 5px;
}
.custom-dots li {
  list-style: none;
}
.custom-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  cursor: pointer;
  font-size: 0;
}
.custom-dots li.slick-active button {
  background-color: white;
}
